<mat-card>
<mat-card-header>
  <mat-card-title>
    {{pizza.title | uppercase}}
  </mat-card-title>
  <mat-card-subtitle>
    {{pizza.price | currency}}
  </mat-card-subtitle>
</mat-card-header>
<img mat-card-image [src]="pizza.image" [alt]="pizza.title">
<mat-card-content>
  {{pizza.description | slice:0:25}}...

  <mat-card-actions>
    <a [routerLink]="['/pizza', pizza.id]" mat-raised-button  routerLinkActive="active" > Ver detalle</a>
    <button (click)="addCart()" mat-raised-button color="primary">Agregar al Carrito</button>

  </mat-card-actions>
</mat-card-content>

</mat-card>




